<ion-header >
  <ion-toolbar>
    <ion-title style="text-align: center ; background-color: #5BC0BE">
      <h2 style="color: #FFFFFF">Videojuegos y Consolas</h2>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="buscar()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only (click)="favoritos()">
        <ion-icon name="heart"></ion-icon>
      </button>

    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding style="background-color: #0B132B">
    <ion-grid>
        <ion-row>
          <ion-col *ngFor="let vidcon of vidcons" col-4 (click)="verp(vidcon)" >
              <ion-card style="background-color: #A1E887">
                <img *ngIf="vidcon.ad.hasOwnProperty('thumbnail')==true" src="http://img.segundamano.mx/cover/{{vidcon.ad.thumbnail.path}}">
                <img *ngIf="vidcon.ad.hasOwnProperty('thumbnail')==false" src="http://noticias.universia.es/net/images/tiempo-libre/v/vi/vid/videojuegos.png">
                <ion-card-content>
                  <h1 *ngIf="vidcon.ad.hasOwnProperty('subject')"> {{vidcon.ad.subject}}</h1>
                  <p>{{vidcon.ad.locations[0].locations[0].label}},{{vidcon.ad.locations[0].label}}</p>
                  <h2 *ngIf="vidcon.ad.hasOwnProperty('list_price')" style="color:rgb(26, 122, 122)"> {{vidcon.ad.list_price.label}}</h2>
                </ion-card-content>
              </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
